.btn{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 200px;
     gap: 3rem;
}
button{
    color: #fff;
    background-color: aqua;
    padding: 30px 30px;
    border-radius: 15px;
}

